<nav class="navbar navbar-expand-lg navColor navbar-light">
	<a class="navbar-brand" style="font-weight: 1000;">Employee Info</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav" style="margin-top: 4px;">
		<a class="nav-item nav-link"> <span (click)="onEmployeeAdd()">Employee Add</span></a>
		<a class="nav-item nav-link"><span (click)="onEmployeeList()">Employee List</span></a>
		</div>
	</div>
  </nav>